# Artifacts
**/.artifacts/data/
**/.cache/
**/.dist/
**/.docker/data/
**/.firebase/
**/.pkg/

**/artifacts/
**/debug/
**/dist/
**/env/
**/out/
**/pkg/

# Config
**/config.*
**/*.config.*

**/*.env
**/*.env.*

# IDEs
**/.idea/
**/.vscode/

# Node
**/build/
**/node_modules/

# Python
**/__pycache__/
**/.pytest_cache/
**/venv/

# Rust
**/Cargo.lock
**/target/

**/*.bk
**/*.bk.*

# Svelte
**/__sapper__/
**/.DS_STORE/
**/.svelte-kit/

# File Extensions
**/*.csv
**/*.csv.*

**/*.db
**/*.db.*

**/*.db-*.*

**/*.lock
**/*.lock.*

**/*.log
**/*.log.*

**/*.whl
**/*.whl.*

**/*.zip
**/*.zip.*

# Exceptions
!**/default.config.*
!**/*.env.example
!**/*.config.js
!**/*.config.cjs
!**/flake.lock
