# Artifacts
**/.DS_Store/
**/.artifacts/data/
**/.buildlog/
**/.docker/data/
**/.firebase/
**/.history/
**/.svn/
**/.vercel/

**/artifacts/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/build/
**/debug/
**/dist/
**/env/
**/migrate_working_dir/
**/tmp/

# IDE's
**/.atom/
**/.idea/
**/.vscode/

# Dart
**/.dart_tool/
**/.packages/
**/.pub/
**/.pub-cache/

**/doc/api/
**/ios/Flutter/.last_build_id

app.*.symbols
app.*.map.json

*.flutter-plugins
*.flutter-plugins-dependencies


# Miscellaneous
*.class
*.class*

*.iml

*.iwr

*.lock
*.lock.*
*-lock.*

!flake.lock

*.log
*.log*

*.pyc

*.swp



