name: Docker

on:
  push:
    branches: [ "main" ]
    tags: [ "v*.*.*" ]
  schedule:
    - cron: "30 9 * * 5"
  workflow_dispatch:

env:
  IMAGE: scsys/proton
  IMAGE_TAG: latest

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build the Docker image
        run: docker buildx build --tag ${{ env.IMAGE }} .

  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@v5
      with:
        dockerfile: Dockerfile
        name: ${{ env.image }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        snapshot: true
        tags: latest, ${{ process.env.PACKAGE_VERSION }}
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        
